header {
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin: 0;
  color: var(--color-highlight);
}

nav {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-list {
  padding: 15px 20px;
  transition: background-color 0.3s ease-in-out;
}

.nav-list a {
  color: var(--color-bg);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.nav-list:hover {
  background-color: var(--color-secondary);
}

.nav-list a:hover {
  color: var(--color-highlight);
}
